.my-block{
  padding: 10px 25px;
  background: #fff;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.12), 0 0 4px rgba(0,0,0,.04);
  padding-bottom: 13px;
  .el-form-item{
    margin-right: 106px;
  }
}
.block_bot{
  padding-bottom: 13px;
}

#nprogress .bar {
  background: #e066ff !important;
}

.titleDetail{
  line-height: 25px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid rgba(118, 118, 118, 0.39);
  font-weight: bold;
  margin-bottom: 10px;
}
.el-left{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
}
.el-right{
  float: right;
}
.options{
  margin-bottom: 0px;
}
.form_btn{
  margin-bottom: 20px;
}
.sub-title {
  margin: 0 0 20px 0;
  font-size: 22px;
  font-weight: 700;
}
.el-select-dropdown__list{
  margin: 0px 0 14px 0;
}
.el-rate__icon{
  line-height: 32px;
}
.el-scrollbar{
  height:100%;
}
.el-form--inline .el-form-item{
  margin-bottom: 20px;
}
.el-pagination{
  padding-bottom: 14px;
}
.dialogSpan{
  margin-right: 35px;font-size: 16px;
}
.dialog-footer{
  text-align: center;
}
.el-dialog--center .el-dialog__body{
  text-align: center;
}
.sub-title{
  margin-bottom: 12px!important;
}
.el-form-item__content{
  color: #8e9aac;
}
.el-scrollbar__wrap{
  height: 90%;
}


.el-submenu .el-menu-item{
  min-width: auto;
}